/* CSS Styles */
.container {
    padding: 32px;
    width: 100%;
    background-color: #0f0d0d;
    padding-top: 44px;
}

.header {
    text-align: center;
    margin-bottom: 32px;
}

.header h2 {
    display: inline-block;
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header h2 span {
    color: #f70776;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Responsive grid layout */
    gap: 20px; /* Adjusts the spacing between columns */
}

.card {
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 16px;
    border: 2px solid #f70776;
    background-color: #0e0d0d; /* Background color for better contrast */
}

.card .icon {
    font-size: 3em;
    color: #f70776;
    margin-bottom: 16px;
}

.card h3 {
    margin: 16px 0;
    color: #ffffff;
    font-size: 2.5em;
}

.card p {
    color: #e6e6e6;
    margin-bottom: 16px;
    font-size: 2em;
    font-family: "Kanit", sans-serif; /* Adjusted font size for better readability */
}

.card a {
    text-decoration: none;
    color: #fff;
    background-color: #f70776;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    display: inline-block;
    font-size: 1.8em;
    letter-spacing: 1px; /* Adjusted font size for better fit */
    transition: all .3s ease;
    text-transform: capitalize;
}

.card a:hover {
    background-color: #ffffff;
    color: #f70776;
}
